NODE_ENV="development"
PORT=5000
# DATABASE_URL="postgresql://postgres:49675@localhost:5432/health_care_database?schema=public"
DATABASE_URL=''
CLIENT_URL="http://localhost:3000"

HASH_PASSWORD=10

# cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# add ai
OPEN_ROUTER_API_KEY=""

# stripe payment
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# jwt
JWT_SECRET=""
EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRES_IN="30d"

# pass reset token by email
RESET_PASS_TOKEN=""
RESET_PASS_TOKEN_EXPIRES_IN="5m"
SALT_ROUND="10"

RESET_PASS_LINK="/link"

# email sender
EMAIL=""
APP_PASS=""

# super admin
SUPER_EMAIL=""
SUPER_EMAIL_PASS=""
SUPER_ADMIN_CONTACT=""