PORT=5000
DATABASE_URL=""
NODE_ENV="development"

HASH_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_APi_KEY=

JWT_ACCESS_SECRET_KEY=""
JWT_REFRESH_SECRET_KEY=""

OPEN_ROUTER_API_KEY=

STRIPE_SECRET_KEY=
CLIENT_URL=

